@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/signate-grotesk');
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--CL-primary-purple);
}

:root {
  --CL-primary-purple: #171527;
  --CL-neutral-white: #fff;
  --CL-neutral-black: #161616;
  --FF-signate-grotesk: 'Signate Grotesk', sans-serif;
  --FF-poppins: 'Poppins', sans-serif;
  --FF-ica-rubrik: 'ICA Rubrik', sans-serif;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--CL-neutral-white);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--FF-poppins);
}

p,
button,
input,
label,
textarea {
  font-family: var(--FF-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--FF-ica-rubrik);
}

img,
picture,
svg,
iframe,
video {
  display: block;
  max-width: 100%;
}

.bg-purple {
  @apply bg-[var(--CL-primary-purple)];
}
