@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/signate-grotesk');
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(17, 34, 29);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--CL-primary-purple);
}

:root {
  --CL-primary-purple: #271033;
  --CL-neutral-white: #fff;
  --CL-neutral-black: #161616;
  --FF-signate-grotesk: 'Signate Grotesk', sans-serif;
  --FF-poppins: 'Poppins', sans-serif;
  --FF-ica-rubrik: 'ICA Rubrik', sans-serif;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--CL-neutral-white);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--FF-poppins);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--FF-signate-grotesk);
  font-family: var(--FF-ica-rubrik);
}

p,
button,
input,
label,
textarea {
  font-family: var(--FF-poppins);
}

img,
picture,
svg,
iframe,
video {
  display: block;
  max-width: 100%;
}

button {
  @apply transition md:hover:scale-105 md:active:scale-95;
}

.active {
  @apply md:underline text-cyan-300 md:underline-offset-8;
}

/* Display */
.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-none {
    display: unset;
  }
}

/* Buttons */

.btn {
  padding: 0.75em 1.5em;
  background: none;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.15s;
}

.btn-primary {
  background-color: var(--CL-primary-cyan);
}

.btn-primary-outline {
  outline: 1px solid var(--CL-primary-cyan);
  color: var(--CL-primary-cyan);
}

@media (min-width: 768px) {
  .btn:hover {
    background-color: var(--CL-neutral-white);
    color: var(--CL-neutral-black);
    outline: none;
  }
}

.bg-purple {
  @apply bg-[var(--CL-primary-purple)];
}

.bg-cyan {
  @apply bg-[var(--CL-primary-cyan)];
}

@media (max-width: 768px) {
  .active {
    @apply text-white no-underline bg-purple;
  }
}

.bg-gradient-primary {
  @apply from-[var(--CL-primary-purple)] to-[var(--CL-primary-cyan)];
}
